$orange: #fc6f4e





*
  margin: 0
  padding: 0



body

.container
  max-width: 1140px
  margin: auto

header
  background-color: #f5f5f5
  padding-top: 82px
  .container
    text-align: center
    .flex-cont
      display: flex
      justify-content: space-between

      a
        margin-bottom: 147px
    .heading
      display: block
      margin: auto
      max-width: 705px
      h1
        font-family: 'Open Sans', sans-serif
        font-weight: 600
        font-size: 50px
        color: #6b6b6b
        margin-bottom: 27px
        span
          color: $orange

      p
        font-family: 'Open Sans', sans-serif
        font-weight: 400
        font-size: 16px
        color: #565656
        margin-bottom: 107px
    .message-form
      padding: 26px 0 20px
      max-width: 372px
      background-color: white
      border-radius: 2px
      position: relative
      top: 3px
      left: 0
      box-shadow: 0 0 40px 20px rgba(223,223,223,1)
      h4
        font-family: 'Open Sans', sans-serif
        font-weight: 400
        color: #37302f
        font-size: 20px
        margin-bottom: 49px
        span
          font-family: 'Open Sans', sans-serif
          font-weight: 600
          color: $orange
      form
        max-width: 294px
        display: block
        margin: auto
        input
          width: 100%
          color: #666666
          line-height: 34px
          font-family: 'Open Sans', sans-serif
          font-weight: 400
          font-size: 15px
          border: none
          border-bottom: 1px solid #c7c7c7
          margin-bottom: 26px

        textarea
          width: 100%
          color: #666666
          line-height: 34px
          font-family: 'Open Sans', sans-serif
          font-weight: 400
          font-size: 15px
          resize: none
          border: none
          border-bottom: 1px solid #c7c7c7
          margin-bottom: 20px
          height: 92px

        button
          display: block
          margin: auto
          background-color: #ff5c36
          font-family: 'Open Sans', sans-serif
          font-weight: 400
          font-size: 16px
          color: white
          padding: 21px 66px
          border: none
          border-radius: 30px

.working
  text-align: center
  padding: 147px 0 130px
  .container
    h3
      font-family: 'Open Sans', sans-serif
      font-weight: 600
      font-size: 50px
      color: #333333
      margin-bottom: 10px

      span
        color: $orange
    p
      font-family: 'Open Sans', sans-serif
      font-weight: 400
      font-size: 16px
      color: #7a7a7a
      margin-bottom: 109px

    .flex-cont
      display: flex
      justify-content: space-around
      flex-flow: wrap
      .wp
        flex-basis: 262px
        background-color: #4eb2f7
        padding-top: 54px
        margin: 1px
        margin-bottom: 50px
        .cont
          max-width: 198px
          margin: auto
          div
            margin: auto
            max-width: 54px
            img
              width: 100%
              margin-bottom: 23px
          p
            margin-bottom: 23px
            font-family: 'Open Sans', sans-serif
            font-weight: 600
            font-size: 20px
            color: white
          span
            text-decoration: none
            font-family: 'Open Sans', sans-serif
            font-weight: 400
            font-size: 15px
            color: white
        .butt
          position: relative
          top: 30px
          background-color: white
          max-width: 228px
          margin: auto
          padding: 22px 0
          border-radius: 30px
          &:hover
            box-shadow: 0 15px 30px 0 rgba(232,232,232,1)
          a
            text-decoration: none
            font-family: 'Open Sans', sans-serif
            font-weight: 400
            font-size: 16px
            color: #4c4c4c


      .wp2
        background-color: #c049f8
      .wp3
        background-color: #817eff
      .wp4
        background-color: #f74770

