@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1140px;
  margin: auto; }

header {
  background-color: #f5f5f5;
  padding-top: 82px; }
  header .container {
    text-align: center; }
    header .container .flex-cont {
      display: flex;
      justify-content: space-between; }
      header .container .flex-cont a {
        margin-bottom: 147px; }
    header .container .heading {
      display: block;
      margin: auto;
      max-width: 705px; }
      header .container .heading h1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 50px;
        color: #6b6b6b;
        margin-bottom: 27px; }
        header .container .heading h1 span {
          color: #fc6f4e; }
      header .container .heading p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #565656;
        margin-bottom: 107px; }
    header .container .message-form {
      padding: 26px 0 20px;
      max-width: 372px;
      background-color: white;
      border-radius: 2px;
      position: relative;
      top: 3px;
      left: 0;
      box-shadow: 0 0 40px 20px #dfdfdf; }
      header .container .message-form h4 {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #37302f;
        font-size: 20px;
        margin-bottom: 49px; }
        header .container .message-form h4 span {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #fc6f4e; }
      header .container .message-form form {
        max-width: 294px;
        display: block;
        margin: auto; }
        header .container .message-form form input {
          width: 100%;
          color: #666666;
          line-height: 34px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 15px;
          border: none;
          border-bottom: 1px solid #c7c7c7;
          margin-bottom: 26px; }
        header .container .message-form form textarea {
          width: 100%;
          color: #666666;
          line-height: 34px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 15px;
          resize: none;
          border: none;
          border-bottom: 1px solid #c7c7c7;
          margin-bottom: 20px;
          height: 92px; }
        header .container .message-form form button {
          display: block;
          margin: auto;
          background-color: #ff5c36;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: white;
          padding: 21px 66px;
          border: none;
          border-radius: 30px; }
          header .container .message-form form button i {
            position: relative;
            right: -22px; }

.working {
  padding: 147px 0 130px; }
  .working .container {
    text-align: center; }
    .working .container h3 {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 50px;
      color: #333333;
      margin-bottom: 10px; }
    .working .container span {
      color: #fc6f4e; }
    .working .container p {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #7a7a7a;
      margin-bottom: 109px; }
    .working .container .flex-cont {
      display: flex;
      justify-content: space-around;
      flex-flow: wrap; }
      .working .container .flex-cont .wp {
        flex-basis: 262px;
        background-color: #4eb2f7;
        padding-top: 54px;
        margin: 1px;
        margin-bottom: 50px; }
        .working .container .flex-cont .wp .cont {
          max-width: 198px;
          margin: auto; }
          .working .container .flex-cont .wp .cont div {
            margin: auto;
            max-width: 54px; }
            .working .container .flex-cont .wp .cont div img {
              width: 100%;
              margin-bottom: 23px; }
          .working .container .flex-cont .wp .cont p {
            margin-bottom: 23px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: white; }
          .working .container .flex-cont .wp .cont span {
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: white; }
        .working .container .flex-cont .wp .butt {
          position: relative;
          top: 30px;
          background-color: white;
          max-width: 228px;
          margin: auto;
          padding: 22px 0;
          border-radius: 30px;
          transition: 0.5s; }
          .working .container .flex-cont .wp .butt:hover {
            box-shadow: 0 15px 30px 0 #e8e8e8; }
          .working .container .flex-cont .wp .butt a {
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #4c4c4c; }
            .working .container .flex-cont .wp .butt a i {
              position: relative;
              left: -17px; }
      .working .container .flex-cont .wp2 {
        background-color: #c049f8; }
      .working .container .flex-cont .wp3 {
        background-color: #817eff; }
      .working .container .flex-cont .wp4 {
        background-color: #f74770; }

.featured {
  background-color: #fbfbfb;
  padding: 131px 0 145px; }
  .featured .container {
    text-align: center; }
    .featured .container h3 {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 50px;
      color: #333333;
      margin-bottom: 10px; }
    .featured .container span {
      color: #fc6f4e; }
    .featured .container p {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #7a7a7a;
      margin-bottom: 109px; }
    .featured .container .flex-cont {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .featured .container .flex-cont .img {
        background-color: #ff5c36;
        flex-basis: 360px;
        height: 360px;
        margin-bottom: 25px; }

.services {
  padding: 149px 0 175px; }
  .services .container {
    text-align: center; }
    .services .container h3 {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 50px;
      color: #333333;
      margin-bottom: 10px; }
    .services .container span {
      color: #fc6f4e; }
    .services .container p {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #7a7a7a;
      margin-bottom: 109px; }
    .services .container .flex-cont {
      display: flex;
      justify-content: space-between; }
      .services .container .flex-cont .left-f {
        margin-right: 80px; }
        .services .container .flex-cont .left-f div {
          text-align: center;
          max-width: 104px;
          height: 92px;
          margin-bottom: 7px;
          background-color: #fbfbfb;
          border: solid 1px #f7f7f7; }
        .services .container .flex-cont .left-f .stat {
          box-shadow: 0px -20px 82px -5px #d1cfd1; }
      .services .container .flex-cont .center-f {
        text-align: left;
        max-width: 540px; }
        .services .container .flex-cont .center-f h4 {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 30px;
          margin-bottom: 19px; }
          .services .container .flex-cont .center-f h4:after {
            content: "";
            display: block;
            height: 3px;
            width: 57px;
            background-color: #ff5c36;
            margin-top: 18px; }
        .services .container .flex-cont .center-f p {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 16px; }
        .services .container .flex-cont .center-f .text1 {
          margin-bottom: 30px; }
        .services .container .flex-cont .center-f .text2 {
          margin-bottom: 40px; }
        .services .container .flex-cont .center-f .text3 {
          margin-bottom: 60px; }
        .services .container .flex-cont .center-f a {
          padding: 20px 59px 20px 94px;
          border-radius: 30px;
          border: solid 1px #ededed;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: #4c4c4c;
          box-shadow: 0 28px 48px -19px #dedbde; }
          .services .container .flex-cont .center-f a i {
            position: relative;
            left: -28px; }
      .services .container .flex-cont .right-f img {
        width: 100%; }

.team {
  padding: 142px 0 179px;
  background-color: #fbfbfb; }
  .team .container {
    text-align: center; }
    .team .container h3 {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 50px;
      color: #333333;
      margin-bottom: 10px; }
    .team .container span {
      color: #fc6f4e; }
    .team .container p {
      display: block;
      margin: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #7a7a7a;
      margin-bottom: 109px; }
    .team .container .flex-cont {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .team .container .flex-cont .holder {
        position: relative;
        width: 359px;
        height: 446px;
        background: #ff5c36;
        margin: 100px auto;
        transition: 0.5s; }
        .team .container .flex-cont .holder:hover .block {
          display: block; }
        .team .container .flex-cont .holder:hover .position {
          display: none; }
        .team .container .flex-cont .holder .position {
          background: white;
          width: 262px;
          height: 96px;
          margin: auto;
          position: relative;
          top: 380px;
          padding-top: 21px;
          box-shadow: 0 30px 65px -22px #c2c0c2; }
          .team .container .flex-cont .holder .position p {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 30px;
            color: #4c4c4c;
            margin-bottom: 20px; }
          .team .container .flex-cont .holder .position span {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #666666; }
        .team .container .flex-cont .holder .block {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0;
          background: #fff3f0;
          padding: 160px 104px 5px 104px;
          text-align: center;
          display: none; }
          .team .container .flex-cont .holder .block .skills_text {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 11px;
            color: black;
            margin-bottom: 4px; }
          .team .container .flex-cont .holder .block .bar {
            display: block;
            width: 151px;
            height: 4px;
            background-color: #707070;
            margin-bottom: 12px; }
          .team .container .flex-cont .holder .block .design:before {
            content: "";
            display: block;
            height: 100%;
            width: 85%;
            background-color: #ff6e47; }
          .team .container .flex-cont .holder .block .english:before {
            content: "";
            display: block;
            height: 100%;
            width: 70%;
            background-color: #ff6e47; }
          .team .container .flex-cont .holder .block .communication:before {
            content: "";
            display: block;
            height: 100%;
            width: 80%;
            background-color: #ff6e47; }
          .team .container .flex-cont .holder .block .communication {
            margin-bottom: 81px; }
          .team .container .flex-cont .holder .block .name {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 26px;
            color: #413f3f;
            margin-bottom: 7px; }
          .team .container .flex-cont .holder .block .post {
            display: block;
            margin: auto;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 17px;
            color: #ff724c;
            margin-bottom: 15px; }
          .team .container .flex-cont .holder .block .fab {
            color: #ff724c;
            margin: 0 7px; }

.clients {
  padding: 137px 0 148px;
  text-align: center; }
  .clients h3 {
    display: block;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #333333;
    margin-bottom: 10px; }
  .clients span {
    color: #fc6f4e; }
  .clients p {
    display: block;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 109px; }
  .clients .container .owl-carousel .owl-block {
    position: relative;
    z-index: 1;
    padding: 94px 50px 37px;
    max-width: 540px;
    box-shadow: 0 0 75px -48px #757575;
    margin: 50px 19px 40px; }
    .clients .container .owl-carousel .owl-block:hover {
      border: solid 1px #cececf; }
    .clients .container .owl-carousel .owl-block .photo {
      background-color: white;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      z-index: 100;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      border: solid 1px #cececf; }
    .clients .container .owl-carousel .owl-block .owl-text {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 17px;
      color: black;
      margin-bottom: 20px; }
    .clients .container .owl-carousel .owl-block .star {
      margin-bottom: 22px; }
      .clients .container .owl-carousel .owl-block .star .fas {
        color: #ffef3b; }
    .clients .container .owl-carousel .owl-block .worker {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 17px;
      margin: 0;
      color: black; }
      .clients .container .owl-carousel .owl-block .worker span {
        color: black;
        font-style: italic;
        font-weight: 400; }

.owl-dot span {
  display: block;
  height: 6px;
  width: 18px;
  background-color: #e0e0e0;
  margin: 0 4px;
  border-radius: 2px; }

.owl-dot.active span {
  display: block;
  height: 6px;
  width: 18px;
  background-color: #ff6e47;
  margin: 0 4px;
  border-radius: 2px; }

.owl-carousel .owl-nav button.owl-prev {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: white !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  position: absolute;
  top: 160px;
  left: -20px;
  box-shadow: 0 2px 134px -25px #a3a3a3; }
  .owl-carousel .owl-nav button.owl-prev:hover {
    background: #ff6e47 !important;
    color: white; }
  .owl-carousel .owl-nav button.owl-prev:before {
    content: ""; }

.owl-carousel .owl-nav button.owl-next {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: white !important;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  position: absolute;
  top: 160px;
  right: -20px;
  box-shadow: 0 2px 134px -25px #a3a3a3; }
  .owl-carousel .owl-nav button.owl-next:hover {
    background: #ff6e47 !important;
    color: white; }
  .owl-carousel .owl-nav button.owl-next:before {
    content: ""; }

/*# sourceMappingURL=style.css.map */
